.home-bg-container {
  padding: 10px;
  width: 100%;
  max-width: 1000px;
}
.home-bg-outside-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.popular-restaurants-heading {
  left: 6.67%;
  right: 28.06%;
  top: 14.59%;
  bottom: 83.72%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #183b56;
}
.popular-para {
  left: 6.67%;
  right: 6.67%;
  top: 16.91%;
  bottom: 80.55%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #64748b;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .popular-restaurants-heading {
    font-size: 32px;
  }
  .popular-para {
    font-size: 16px;
  }
  .heading-para-sorting-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
  }
  .heading-para-sorting-bg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .popular-para {
    margin-bottom: 0;
  }
}
.sort-by-container {
  display: flex;
  align-items: center;
  height: 20px;
}

.sort-by-icon {
  font-size: 24px;
  color: #475569;
  margin-right: 6px;
}

.sort-by,
.select-option {
  left: 16.67%;
  right: 52.22%;
  top: 20.3%;
  bottom: 78.44%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}

.sort-by-select {
  color: #475569;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-box {
  margin-top: 6px;
  border: 1.5px solid #475569;
  border-radius: 6px;
  padding-left: 7px;
  height: 30px;
  width: 250px;
}
.hr-line {
  display: none;
}
@media screen and (min-width: 768px) {
  .search-box {
    width: 400px;
  }
  .hr-line {
    display: flex;
    height: 1.5px;
    border: 1px dashed #cbd2d9;
  }
}
.restaurants-list-loader,
.no-restaurants-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-restaurants-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #475569;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .restaurants-list-loader,
  .no-restaurants-container {
    height: 26vh;
  }
}
.restaurants-list-container {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination-left-button {
  margin-right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagination-right-button {
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-count {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #334155;
}
